:root {
    --header-background-color: #444242;
    --highlight-orange: #FA9401;
}

header {
    background-color: var(--header-background-color);
    padding: .2rem 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header div {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: min(40vw, 10rem);
    position: absolute;
    left: calc(50% - min(40vw, 10rem)/2);
}